
<h1>$title$</h1>

<div class="info">
  $if(author)$
      $author$
  $endif$ $date$
    
</div>

$body$

<!--An embeddable script that makes source-code snippets in HTML prettier. -->
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script> 

$if(comments)$
<div id="disqus_thread"></div>

<script type="text/javascript">
    var disqus_shortname = '$disqus_shortname$'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    
</script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="https://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
$endif$
