<div class="sidebar">

    <div class="me">
        <img src="$baseurl$/images/avatar.png" width="100%" class="avatar" alt>
        <div class="caption">Hi :)</div>
    </div>
    <p class="me">林以明</p>
    <p class="me"><a href="http://vipteens.cn">Vipteens</a> CTO</p>

    <div class="sidebar-text">
        <section class="meta">

            <a href="https://www.github.com/lynnmatrix"><i class="fa fa-github"></i></a>

            <a href="http://linkedin.com/in/lynnmatrix"><i class="fa fa-linkedin"></i></a>

            <a href="https://plus.google.com/u/0/104570750407591619127/posts" target="_blank"> <i class="fa fa-google-plus"></i></a>

        </section>
    </div>

    <br/>

    <div class="pageslinks">
        <nav class="menuNav">
            <div class="menuItems">
                <a href="/index.html"><span>Home</span></a>
                <a href="/about.html"><span>About</span></a>
                <a href="/contact.html"><span>Contact</span></a>
                <a href="/archive.html"><span>Archive</span></a>
            </div>
        </nav>
    </div>
    <!--/pageslinks-->
</div>
